@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  background-image: linear-gradient(rgba(7, 44, 42, 0.74), rgba(7, 44, 42, 0.74)), url('./assets/jeremy-paige-146337-unsplash.jpg');
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  height: 100vh;
  display: grid;
  grid-template-rows: [header] 10% [main-container] 1fr;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-logo-text {
  display: inline-block;
  color: #1db8ad;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  grid-row: header;
  color: #202020;
}

.main-container {
  grid-row: main-container;
  display: grid;
}

.center-container {
  margin: 20px auto;
  padding: 14px;
  background: rgba(10, 10, 10, 0.3);
  border-radius: 10px;

}

/* background: #1db8ad33; */
/* background: rgba(68, 68, 68, 0.75); */
/* rgba(15, 97, 92, 0.74) */

