@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  /* background-color: #202020; */
  background: url('./assets/jeremy-paige-146337-unsplash.jpg') center/cover;
  color: #fdfdfd;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-logo-text {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  grid-row: 1/2;
  background-color: #fdfdfd;
  color: #202020;
  box-shadow: 0 1px 8px #efefef;
  font-family: 'Open Sans', sans-serif;
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #1db8ad;
}

.main-container {
  grid-row: 2/3;
  display: grid;
  background: #1db8ad33;
}

.center-container {
  /* background: #1db8ad; */
  background: rgba(68, 68, 68, 0.75);
  margin: 20px auto;
}


